<div class="row">
    <div class="col-sm-8">
        <h1>{{post.title}}
          <button ng-click="editPost($index)" class="btn btn-primary btn-xs pull-right" ng-show="currentUser"><i class="glyphicon glyphicon-pencil"></i></button>
        </h1>
        <p>{{post.body}}</p>
        <hr>
        <h3>Comments</h3>
        <form class="form" ng-submit="addComment()">
          <div class="form-group">
            <textarea class="form-control" ng-model="commentText" required></textarea>
            <button class="btn btn-primary" ng-show="currentUser">Add Comment</button>
          </div>

        </form>
        <div class="well" ng-repeat="comment in post.comments | orderBy:'createdAt':true">
          <p>{{comment.body}}</p>
          <p class=""><i>{{comment.createdAt | date:'short'}}</i></p>
        </div>
    </div>
</div>
